nav {
    background-color: lightblue;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    padding: 5px;
    border-bottom: 2px solid lightslategray;
}

nav ul li {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    text-align: right;
}

div {
    width: 200px;
    border: 2px solid blue;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

input {
    margin: 5%;
}